html {
  box-sizing: border-box;
}
body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  font-family: Arial, Helvetica, sans-serif;
}

#root{
  padding: 10rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}